<style type="text/css">
p{
	font-family: sans-serif;
	color: white;
	font-size: 16px;
}
.one{
	width: 320px;
	height: 420px;
	background-color:none;
	top: 60%;
	left:20%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
input[type="password"]{
	padding: 5px;
	width: 350px;
	border:none;
	border-bottom: 1px solid white;
	outline: none;
	background:transparent;
	color:white;
	font-size: 16px;
}
input[type="Submit"]{
	left:30%;
	margin-left: 120px;
	width: 100px;
	text-align: center;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 115px;
	outline: none;
	margin-top: 25px;
}
button:hover{
	color:blue;
}

img{
	color:white;
	width:25px;
	height:25px;
	float:right;
	margin-bottom: -50px;
	margin-right: -60px;
	background:transparent;
}

</style>